*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
    /*margin: 2em;*/
  /*font-size: 1.1em;*/
}

/* Organizing Images*/


.myImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.myImg2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.thumb-container {
  text-align: center;
}
.thumb-container img {
  display: inline-block; /* ensures the image remains inline for centering */
  width: 150px;
}

/* Headers Bar ******************************************************/

.headerLab {
  background-color: black;
  padding: 10%;
  text-align: center;
  /*background-image: url("../img/niquetteBaySP.jpeg");*/
   background-image: url("../img/lakeChamplain.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*border-top: 50px solid black;*/
    border-bottom: 0px solid black;
}

.headerAbout {
  background-color: black;
  padding: 10%;
  text-align: center;
  /*background-image: url("../img/niquetteBaySP.jpeg");*/
   background-image: url("../img/pointAuRocheNY.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*border-top: 50px solid black;*/
    border-bottom: 0px solid black;
}


.headerMain {
  background-color: black;
  padding: 10%;
  text-align: center;
  background-image: url("../img/Alaska_Chena.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  /*border-top: 50px solid black;*/
    border-bottom: 0px solid black;
}

.headerMain_Flipped {
  background-color: black;
  padding: 10%;
    margin-top: 0%;
  text-align: center;
      background-image: url("../img/Alaska_Chena.JPG");
  /*background-image: linear-gradient(to b, rgba(0,0,0,0.0), rgba(0,0,0,0.4), url("../img/Alaska_Chena.JPG"));*/
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 0.7;
  /*border-top: 50px solid black;*/
    border-bottom: 0px solid black;
    transform-origin: bottom;
transform: scaleY(-2) translateY(50%);
            /*-webkit-transform: scaleY(-1);*/
}

/*  background-image: linear-gradient(to top, rgba(255,153,153,0) 10%,*/
/*rgba(255,153,153,0) 25%,rgba(255,153,153,1) 0%), url("../img/Alaska_Chena.JPG");*/

.headerModel {
  background-color: black;
  padding: 10%;
  text-align: center;
  background-image: url("../img/snowyForest.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*border: 3px solid black;*/
}

.headerReprints {
    background-color: black;
    padding: 10%;
    text-align: center;
    background-image: url("../img/Denali_GlacierRunOff.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 20px solid black;
    /*border: 3px solid black;*/
}

.headerMedia {
    background-color: black;
    padding: 10%;
    text-align: center;
    background-image: url("../img/eagleMountain_Colchester.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 20px solid black;
    /*border: 3px solid black;*/
}

.headerPoetry {
  background-color: black;
  padding: 10%;
  text-align: center;
  background-image: url("../img/brownsRiverPark.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*border: 0px solid black;*/
}

.headerLagniappe {
  background-color: black;
  padding: 10%;
  text-align: center;
  background-image: url("../img/underhill.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*border: 0px solid black;*/
}

.headerSunflecks {
    background-color: black;
    padding: 10%;
    text-align: center;
    background-image: url("../img/taosPueblo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 20px solid black;
}



/* Headings style  ******************************************************/


h1{font-family: sans-serif;
        /*color:white;*/
        color: #ff4500;
        text-align:center;
        font-size: 350%;
 }

h2{
  /*color: navajowhite;*/
  font-family:arial;
  font-size: 80%;
  text-align: center;
}

h3{
  color: darkgoldenrod;
  font-size: 120%;
  /*font-weight: bold;*/
  text-align: center;
  margin: 0;
}

h4{
  color: lightgoldenrodyellow;
  font-size: 80%;
  /*font-weight: bold;*/
  text-align: center;
  margin: 0;
}

h5{
  color: black;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h6{
    /*text-decoration: none;*/
    /*color: navajowhite;*/
    font-size: 220%;
}

h7{
  color: #ffa07a;
  font-size: 80%;
  /*font-weight: bold;*/
  text-align: center;
  margin: 0;
}

h8{
  color: lightslategray;
  font-size: 80%;
  /*font-weight: bold;*/
  text-align: center;
  margin: 0;
}

h9{
  color: lightgoldenrodyellow;
  font-size: 100%;
  /*font-weight: bold;*/
  text-align: center;
  margin: 0;
}

.centered {
     margin-left:auto;
     margin-right:auto;
    text-align: center;
}
.myBlock{
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    width: 50%;
}
.container{
    width: 100%;
    text-align: center;
}

p{font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    /*text-align:center;*/
    font-size: 1em;
    line-height: 1.6;
}

.myPFormat {
    margin-left: 10%;
    margin-right:10%;
    text-align:left;
}

.myIndent {
    /*color: white;*/
    /*font-family:arial;*/
    /*font-family: arial;*/
    text-indent: +5%;
    /*margin-left: 2%;*/
    /*margin-bottom:2%;*/
    /*font-size: 100%;*/
    /*text-align:left;*/
}

.quotes{
    /*color: white;*/
    /*font-family:arial;*/
    font-family: arial;
    text-indent: -7%;
    margin-left: 12%;
    margin-bottom:2%;
    font-size: 100%;
    text-align:left;
}

.citations{
    /*color: white;*/
    /*font-family:arial;*/
    text-indent: -7%;
    margin-left: 12%;
    margin-bottom:2%;
    font-size: 100%;
    text-align:left;
}


/* unvisited link */
.citations a:link {
  color: darkslategray;
}

/* visited link */
.citations a:visited {
  color: lightslategray;
}

/* mouse over link */
.citations a:hover {
  color: darkslategray;
}

/* selected link */
.citations a:active {
  color: lightslategrey;
}


.mainColor {
  color:navajowhite;
}

.poetryColor {
  color: #ff4500;
}


/*Menu Bar******************************************************/
.navbar {
    /*overflow: hidden;*/
    background-color: darkslategray;
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    /*color: #fff;*/
    /*    color: navajowhite;*/
    /*font-size: 120%;*/
}

.navbar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
    text-decoration: none;
    color: navajowhite;
    font-size: 100%;
}

.navbar ul li a{
    text-decoration: none;
    color: navajowhite;
    font-size: 100%;
}

.active,.navbar ul li:hover {
    /*background: lightgray;*/
    background: hsla(176, 9%, 75%, 0.48);
    display: block;
    /*opacity: 0.5;*/
    /*border-radius: 30px;*/
}


.subMenu{
    display:none;
}

.navbar ul li:hover .subMenu{
    display: inline-flex;
    background: darkslategrey;
    margin-top: 15px;
    margin-left: 0px;
    /*margin-right: 10px;*/
    position: relative;
}

.navbar ul li:hover .subMenu ul{
    display: block;
    margin: 5px;
    box-shadow: 0px 20px 20px 10px darkred;
    /*box-shadow: darkred;*/
    text-align: center;
}

a:link {
  /*color: white; !* This is color of Publications and Models headers etc. try 'inherit';*!*/
    color: slategray;
  background-color: transparent;
  text-decoration: none;
  font-size: 100%
}

a:visited {
  color: goldenrod;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkgoldenrod;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

/* Poetry ***************************************/
table{
  /*bordercolor:#FFFFFF;*/
  border:0;
  /*align:center;*/
  /*height:30%;*/
  width:80%;
  margin-left:10%;
  margin-right:10%;
}


a.poetry:link {
  color: navajowhite;

}

a.poetry:visited {
  color: darkslategrey;
  text-decoration: none;
}

.poetry a:hover {
  color: darkslategrey;
  /*background-color: transparent;*/
  /*text-decoration: underline;*/
}

.poetry a:active {
  color: slateblue;
}

th,td {
        text-align: center;
        /*color: antiquewhite;*/
        height: 70px;
        width:300px;
}

/* Models table ***************************************/

    .item1 { grid-area: header; }
    .item2 { grid-area: center; }
    .item3 { grid-area: left; }
    .item4 { grid-area: right; }
    .item5 { grid-area: footer; }

    .grid-container {
        display: grid;
        grid-template-areas:
                'header header header header header header'
                'left left center center right right'
                'footer footer footer footer footer footer';
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
    }

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 10px 10px;
        /*font-size: 30px;*/
    }

/**************** Media table */

/*table, th, td {*/
    /*border: 1px solid whitesmoke;*/
    /*border-top-style: none;*/
    /*border-right-style: none;*/
    /*border-left-style: none;*/
    /*border-bottom-style: none;*/
    /*border-collapse: collapse;*/
    /* vertical-align: middle;*/
/*}*/

.table4 tr:nth-of-type(1n) td {
    /*border-top: 2px solid white;*/
    border-top: none;
}

.table4 tr:nth-child(even) {
  background-color: #333333;
}

.table4 tr:hover {background-color: gray;}

.table4 {
    table-layout: auto;
    width: 80%;
    /*border-collapse: collapse;*/
    /*border: 3px solid white;*/
    border:none;
}

.table4 th {
    color:wheat;
    vertical-align:middle;
    text-align:center;
    /*border:1px solid white; */
    border:none;
}

.table4 td {
    color:wheat;
    vertical-align:middle;
    text-align:center;
    /*border:1px solid white; */
    border:none;
}


