.header_EcologicalModeling {
  background-color: black;
  padding: 10%;
  text-align: center;
  background-image: url("../img/sandia_NM.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*border-top: 50px solid black;*/
    border-bottom: 0px solid black;
}

.headerMain {
  background-color: black;
  padding: 10%;
  text-align: center;
  background-image: url("../img/Alaska_Chena.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  /*border-top: 50px solid black;*/
    border-bottom: 0px solid black;
}


.header_GlobalChangeEcology {
  background-color: black;
  padding: 10%;
  text-align: center;
  background-image: url("../img/snowyForest.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*border-top: 50px solid black;*/
    border-bottom: 0px solid black;
}

.header_DataModelling {
  background-color: black;
  padding: 10%;
  text-align: center;
  background-image: url("../img/franconiaNotch_NH_cropped.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*border-top: 50px solid black;*/
    border-bottom: 0px solid black;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black;
    color: white;
       font-size: 1.2em;
    line-height: 1.6;

    font-size: 14px;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    /*margin: 2em;*/
  /*font-size: 1.1em;*/
}

th, td {
  padding: 10px;
}

p{font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    /*text-align:center;*/
    font-size: 1.2em;
    line-height: 1.6;
}

p.centered{font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    /*text-align:center;*/
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}

p.bottom{
    padding-bottom: 1125px;
}

h1 {
    font-size:24px;
    font-weight:bold;
    text-align:center;
    color: navajowhite;
}

h1_bigger {
    font-size:32px;
    font-weight:bold;
    text-align:center;
    color: navajowhite;
    /*color: lightgoldenrodyellow;*/
}

h2 {
font-size:21px;
font-weight:bold;
margin: 0;
padding: 0;
}

h3 {
	font-size: 18px;
	/*font-weight: bold;*/
	text-align: center;
	margin: 0;
    color: whitesmoke;
}

h3alt {
	font-size: 20px;
	/*font-weight: bold;*/
	text-align: center;
	margin: 0;
    color: whitesmoke;
}
h3alt_dark {
	font-size: 20px;
	/*font-weight: bold;*/
	text-align: center;
	margin: 0;
    color: midnightblue;
}

h4 {
	font-size: 18px;
	/*font-weight: bold;*/
	text-align: center;
	margin: 0;
    /*color: #00fae1;*/
    color:darkturquoise;
}

h5 {
    color:whitesmoke;
    font-size: 14px;
    text-align: center;
}

#makeTurquoise {
      font-size: 18px;
      color: darkturquoise;
}


ul {
    margin-left: 15px;
}

ul li{
      margin-left:25px;
        font-size: 1.2em;
    line-height: 1.6;
}

ol li{
    margin-left:25px;
    font-size: 1.2em;
    line-height: 1.6;
}
ol ol li{
    margin-left:25px;
    font-size: 1.0em;
    line-height: 1.6;
	list-style-type: lower-roman;
}

a:link {
	color: darkturquoise;
    text-decoration: none;
}

a:visited {
	color: paleturquoise;
}


ul.nobullets {
  list-style-type: none;
 }


table {
    vertical-align: middle;

    table-layout: fixed;
    /*table-layout: auto;*/
    width: 100%;
}

table, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
     vertical-align: middle;
}

.table3 tr:nth-of-type(1n) td {
    border-top: 2px solid white;
}

.table3 tr:nth-child(even) {
  background-color: #333333;
}

.table3 tr:hover {background-color: gray;}

.table3 {
    table-layout: auto;
    width: 100%;
    /*border-collapse: collapse;*/
    border: 3px solid white;
}

.table3 th {
    color:wheat;
    vertical-align:middle;
    text-align:center;
    border:1px solid white; }

.table3 td {
    color:wheat;
    vertical-align:middle;
    text-align:center;
    border:1px solid white; }

/*.table3 thead th:nth-child(1) {*/
/*  width: 5%;*/
/*}*/

/*.table3 thead th:nth-child(2) {*/
/*  width: 6%;*/
/*}*/

/*.table3 thead th:nth-child(3) {*/
/*  width: 5%;*/
/*}*/

/*.table3 thead th:nth-child(4) {*/
/*  width: 14%;*/
/*}*/

/*.table3 thead th:nth-child(5) {*/
/*  width: 14%;*/
/*}*/

/*.table3 thead th:nth-child(6) {*/
/*  width: 14%;*/
/*}*/

/*.table3 thead th:nth-child(7) {*/
/*  width: 14%;*/
/*}*/

/*.table3 thead th:nth-child(8) {*/
/*  width: 14%;*/
/*}*/

/*.table3 thead th:nth-child(9) {*/
/*  width: 14%;*/
/*}*/




.table4 {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid white;
}

.table4 th {
    color:wheat;
    vertical-align:middle;
    text-align:center;
    border:1px solid white; }

.table4 td {
    color:wheat;
    vertical-align:middle;
    text-align:left;
    border:1px solid white; }

.table5 {
    table-layout: fixed;
    width: 30%;
    /*border-collapse: collapse;*/
    border: 1px solid white;
}

.table5 th {
    color:wheat;
    vertical-align:middle;
    text-align:center;
    border:1px solid white; }

.table5 td {
    color:wheat;
    vertical-align:middle;
    text-align:left;
    border:1px solid white; }

.table5 tr {
    /*color:wheat;*/
    /*vertical-align:middle;*/
    /*text-align:left;*/
    border:1px solid white; }




.table1 {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid indianred;
    border:none;
}

.table1 th {
    color:darkgreen;
    vertical-align:middle;
    text-align:center;
    border:1px solid darkorange; }

.table1 td {
    color:blueviolet;
    vertical-align:middle;
    text-align:center;
    border:0px solid orangered; }






.table2 tr:nth-of-type(1n) td {
    border-top: 2px solid white;
}

.table2 tr:nth-child(even) {
  background-color: #333333;
}

.table2 tr:hover {background-color: gray;}

.table2 {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white;
}

.table2 th {
    color:wheat;
    vertical-align:middle;
    text-align:center;
    border:1px solid white; }

.table2 td {
    color:wheat;
    vertical-align:middle;
    text-align:center;
    border:1px solid white; }

.table2 thead th:nth-child(1) {
  width: 7%;
}

.table2 thead th:nth-child(2) {
  width: 7%;
}

.table2 thead th:nth-child(3) {
  width: 7%;
}

.table2 thead th:nth-child(4) {
  width: 10%;
}

.table2 thead th:nth-child(5) {
  width: 23%;
}

.table2 thead th:nth-child(6) {
  width: 23%;
}

.table2 thead th:nth-child(7) {
  width: 23%;
}




